<a href="/apps/advanced-wishlist" class="hulk-header-icon">
    <i class="icon-wishlist-heart-empty" style="vertical-align: sub;"></i>
    {% if shop.metafields.hulkapps_wishlist.hulkapps_wishlist_general.wishlist_header_count == 'show' %}
        <span class="header-count count" data-totalwishlistitems>(0)</span>
    {% endif %}
</a>
